.titleHome {
    color: orange;
}

.containerMain {
    display: flex;
    width: 100%;
    justify-content: center;
    cursor: pointer;
}

.containerBorder {
    width: 32%;
    border: 1px solid orange;
    border-radius: 8px;
    margin: 2%;
    transform: scale(0.9);
    transition: all ease-in-out 0.4s;
}

.containerBorder:hover {
    background-color: rgb(255, 245, 227);
    border: 1px solid rgb(255, 168, 6);
    transform: scale(1);
  
}

.labelTitlePlan {
    font-size: 28pt;
    color: hsl(39, 100%, 48%);
  
}

.describeText {
    width: 90%;
    height: 8vh;
    text-align: left;
    font-size: 11pt;
    font-weight: 500;
    margin-left: 6%;
    color: rgb(151, 157, 172);
  
}

.containerInformations {
    background-color: rgb(255, 248, 240);
    margin: 0 5%;
    border-radius: 8px;
}

.labelTopics {
    display: flex;
    margin-left: 2%;
    color: hsl(39, 100%, 48%);
    font-weight: 600;
    width: 100%;  
    margin: 0;
}

.labelTitle {
    width: 140px;
    padding-right: 3%;
    text-align: left;
    font-size: 12pt;
    
} 

.labelContent {
    color: rgb(85, 95, 121);
    font-weight: 400;
    text-align: left;
   
}

.labelPrice {
    color: orange;
    font-weight: 700;
    font-size: 18pt;  
    margin-right: 10px;  
}

.contentPrice {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.cifra {
    color: orange;
    font-weight: 700;
    font-size: 18pt;
    
}

.price {
    font-size: 28pt;
    font-weight: 400;
    color: rgb(151, 157, 172);
    margin-left: 2%;
    
}


.buttonGeneric {
    background-color: orange;
    width: 120px;
    height: 40px;
    margin:auto;
    margin-bottom: 30px;
    border-radius: 10px;
    transition-duration: 200ms;
    cursor: pointer;
}

.buttonGeneric:hover {
    background-color: rgb(253, 255, 240);
   
}

.buttonText {
    font-weight: 700;
    color: white;
    padding: 10px;
    transition-duration: 200ms;
    
}

.buttonText:hover {
    color: orange;
    transition-duration: 300ms;
   
}